.pussh1 {
    padding: 3rem;
    background-color: deeppink;
    border: none;
}

.pushh2 {
    text-decoration: none;
    color: black;
}

.btn {
    text-decoration: none;
    background-color: black;
    color: deeppink;
    text-align: center;
    width: 10vw;
    height: 5vh;
    position: absolute;
    top: 64vh;
    left: 40vw;
    font-size: 4vh;
    font-family: 'Times New Roman', Times, serif;

}